#board {
	width: 400px;
	height: 400px;
}

.card {
	width: 80px;
    height: 80px;
    margin: 2%;
    display: block;
    position: relative;
    float: left;
}

.initial {
	background-color: black;
}

.initial:hover {
	background-color: gray;
	color: gray;
}

.matched {
	color: white;
	background: white;
}

#orange.flipped {
	background-color: orange;
}

#pink.flipped {
	background-color: pink;
}

#red.flipped {
	background-color: red;
}

#purple.flipped {
	background-color: purple;
}

#blue.flipped {
	background-color: blue;
}

#green.flipped {
	background-color: green;
}

#brown.flipped {
	background-color: brown;
}

#yellow.flipped {
	background-color: yellow;
}






